language: python
python:
  - "2.7"
env:
  - DJANGO=1.3.7
  - DJANGO=1.4.10
  - DJANGO=1.5.5
  - DJANGO=1.6.1
install:
  - pip install -q Django==$DJANGO tissue --use-mirrors
script:
  - nosetests --with-tissue --tissue-package=template_shortcuts